<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.mycompany.forum.NewServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>InsertData</servlet-name>
        <servlet-class>com.mycompany.forum.InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.forum.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.forum.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPost</servlet-name>
        <servlet-class>com.mycompany.forum.createPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newComment</servlet-name>
        <servlet-class>com.mycompany.forum.newComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertData</servlet-name>
        <url-pattern>/InsertData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addRating</servlet-name>
        <servlet-class>com.mycompany.forum.addRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRating</servlet-name>
        <url-pattern>/addRating</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>posts</param-name>
        <param-value>10</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>createPost</servlet-name>
        <url-pattern>/createPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newComment</servlet-name>
        <url-pattern>/newComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>com.mycompany.forum.RequestLoggingFilter</filter-class>
        <init-param>
            <param-name>test</param-name>
            <param-value>testValue</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>UserAgentFilter</filter-name>
        <filter-class>com.mycompany.forum.UserAgentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAgentFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
</web-app>
